/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.carrinho {
  color: #FFFFFF;
}

.carrinho label {
  padding-top: 5px;
  padding-right: 20px;
}
